venv
.idea
**/__pycache__
*.egg-info
dist
bench.log
build
.DS_store
.env
.parseltongue-bench
temp
_site/
parseltongue/core/demos/data_governance_pltg/resources/*/
parseltongue/core/demos/data_governance_pltg/src/
parseltongue/core/demos/data_governance_pltg/manifest.json
parseltongue/core/demos/data_governance_pltg/viz-results/
parseltongue/core/demos/ai2ai_pgmd/pgmd_out/

parseltongue/core/demos/data_governance_pltg/checker_amended.pltg
